ForumInterface/Trial/Service References/TimelineReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getAllMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllMoviesResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSortedMovies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSortedMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSortedMoviesResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMovieImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMovieTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMovieYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoviePreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoviePreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMoviePreviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoviePlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoviePlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMoviePlotResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getMovieCategoriesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRatingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeaturedMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFeaturedMoviesResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrendingMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrendingMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getTrendingMoviesResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovieCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getMovieCommentsResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommenterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentRateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentDescResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>