ForumInterface/Trial/Service References/AccountReference/WebForumServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="account">
    <xs:sequence>
      <xs:element minOccurs="0" name="acc_ID" type="xs:long" />
      <xs:element minOccurs="0" name="bio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="emailAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profile_picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="account" nillable="true" type="tns:account" />
  <xs:complexType name="ArrayOfactivitylog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activitylog" nillable="true" type="tns:activitylog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfactivitylog" nillable="true" type="tns:ArrayOfactivitylog" />
  <xs:complexType name="activitylog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_ID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="activitylog" nillable="true" type="tns:activitylog" />
</xs:schema>