ForumInterface/Trial/Service References/ThreadReference/WebForumServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="plot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="movie" nillable="true" type="tns:movie" />
</xs:schema>