ForumInterface/Trial/Service References/CommentReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentService_createComment_InputMessage">
    <wsdl:part name="parameters" element="tns:createComment" />
  </wsdl:message>
  <wsdl:message name="ICommentService_createComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_insertComment_InputMessage">
    <wsdl:part name="parameters" element="tns:insertComment" />
  </wsdl:message>
  <wsdl:message name="ICommentService_insertComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_activity_InputMessage">
    <wsdl:part name="parameters" element="tns:activity" />
  </wsdl:message>
  <wsdl:message name="ICommentService_activity_OutputMessage">
    <wsdl:part name="parameters" element="tns:activityResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_insertActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:insertActivity" />
  </wsdl:message>
  <wsdl:message name="ICommentService_insertActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentService">
    <wsdl:operation name="createComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/createComment" message="tns:ICommentService_createComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/createCommentResponse" message="tns:ICommentService_createComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/insertComment" message="tns:ICommentService_insertComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/insertCommentResponse" message="tns:ICommentService_insertComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="activity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/activity" message="tns:ICommentService_activity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/activityResponse" message="tns:ICommentService_activity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/insertActivity" message="tns:ICommentService_insertActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/insertActivityResponse" message="tns:ICommentService_insertActivity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentService" type="tns:ICommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createComment">
      <soap:operation soapAction="http://tempuri.org/ICommentService/createComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertComment">
      <soap:operation soapAction="http://tempuri.org/ICommentService/insertComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activity">
      <soap:operation soapAction="http://tempuri.org/ICommentService/activity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertActivity">
      <soap:operation soapAction="http://tempuri.org/ICommentService/insertActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="BasicHttpBinding_ICommentService" binding="tns:BasicHttpBinding_ICommentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebForumServiceLibrary/CommentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>