ForumInterface/Trial/Service References/CommentReference/WebForumServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebForumServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Movie_ID" type="xs:long" />
      <xs:element minOccurs="0" name="Movie_Rate" type="xs:long" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comment" nillable="true" type="tns:comment" />
  <xs:complexType name="activitylog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_ID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="activitylog" nillable="true" type="tns:activitylog" />
</xs:schema>